#wrapper.toggled #sidebar-wrapper {
    margin-left: -300px;
  }
  .app-header-sub{
    width: 100%;
  }
 h2{
   font-size: 1.5rem;
   margin-left: 10px;
 }
 .div_topic{
   margin-left: 10px;
 }
 .d-flex .toggled .sidebar-manu-lsit {
  margin-left: 0px;
}
.sidebar-manu-top{
  width: -250px;
}

.navbar-toggler{
  padding: 1.0rem;
  padding-left: 2rem;
}
